<!-- Startseite -->

<head>
	<title>Home</title>
	<% content_for :title, "Startseite" %>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/stylesheets/main.css" />
</head>

<body class="homepage">

<!-- Banner -->
	<section id="banner">
		<span class="image featured"><img src="/assets/banner.jpg" alt="" /></span>
	</section>


<!-- Main -->
	<div id="main-wrapper">
		<div id="main" class="container">
			<div class="row 200%">
				<div class="12u">
	
	
				</div>
			</div>
			<div class="row 50%">
				<div class="12u">
	
			<!-- Worum geht es (Zitate) -->
					<section>
						<h2 class="major"><span>Worum geht es?</span></h2>
						<blockquote>
							<b> How could I look my grandchildren in the eye and say I knew what was happening to the world and did nothing. </b>
							<footer>-David Attenborough </footer>
						</blockquote>
						</br>
						
						<blockquote style="margin-left: 150px">
							<b> Global warming is real and human activity is the main cause. 
							The consequences are mainly negative and headed toward catastrophic, unless we act. However,
							the good news is that we can meet this challenge. It is not too late, and we have everything we need to get started. </b> 
							<footer>-Al Gore  </footer>
						</blockquote>
						</br>
						
						<blockquote>
							<b> Climate change does not respect border; it does not respect who you are - rich and poor, small and big. 
							Therefore, this is what we call 'global challenges,' which require global solidarity. </b>
							<footer>-Ban Ki-moon </footer>
						</blockquote>
						</br>
						
						<blockquote style="margin-left: 150px">
							<b> Be the change you want to see in the world. </b>
							<footer>-Gandhi </footer>
						</blockquote>
						</br>
						
						<blockquote> 
							<b> If you want to accomplish anything in life, you can't just sit back and hope it will happen. You've got to make it happen.</b>
							<footer>-Chuck Norris  </footer>
						</blockquote>
						
					</section>
	
				</div>
			</div>
			<div class="row 200%">
				<div class="12u">
		
				<!-- Funktionen -->
					<section class="box features">
						<h2 class="major"><span>Menü</span></h2>
						<div>
							<div class="row">
								<div class="3u 12u(mobile)">

									<!-- Link zu Profil -->
										<section class="box feature">
											<a href="https://emission-melissa0306.c9users.io/balances/profil" class="image featured"><img src="/assets/pic01.jpg" alt="" /></a>
											<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/profil">Profil</a></h3>
											<p>
												Wirf einen Blick auf dein Profil oder ändere deine Daten
											</p>
										</section>

								</div>
								<div class="3u 12u(mobile)">

									<!-- Link zu Emissionsrechner -->
										<section class="box feature">
											<a href="https://emission-melissa0306.c9users.io/balances/new" class="image featured"><img src="/assets/pic02.jpg" alt="" /></a>
											<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/karte">Emissionsrechner</a></h3>
											<p>
												Lasse deine Emissionen berechnen! Ermittle bequem per Google Maps deine Strecke und trage deine Reisedaten ein.
											</p>
										</section>

								</div>
								<div class="3u 12u(mobile)">

									<!-- Link zu Bilanz -->
										<section class="box feature">
											<a href="https://emission-melissa0306.c9users.io/balances/status" class="image featured"><img src="/assets/pic03.jpg" alt="" /></a>
											<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/vergleich">Bilanz</a></h3>
											<p>
												Erhalte eine Übersicht über die Entwicklung deiner Emission im Zeitverlauf
											</p>
										</section>

								</div>
								<div class="3u 12u(mobile)">

									<!-- Link zu Auswertung -->
										<section class="box feature">
											<a href="https://emission-melissa0306.c9users.io/balances/analysis" class="image featured"><img src="/assets/pic04.jpg" alt="" /></a>
											<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/infos">Auswertung</a></h3>
											<p>
												Verschaffe dir einen Überblick über deinen aktuellen Stand und erlange personalisierte Tipps
											</p>
										</section>

								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><a class="button big" <%= link_to "Werde Aktiv",  new_user_registration_path %></a></li>
									</ul>
								</div>
							</div>
						</div>
					</section>

				</div>
			</div>
		
	
</body>
