
<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<head>
	<title>Home</title>
	<% content_for :title, "Startseite" %>
</head>

<html>
	<head>
		<title>TXT by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/stylesheets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	
	<body class="homepage">
		<div id="page-wrapper">


			<!-- Banner -->
					<section id="banner">
						<span class="image featured"><img src="/assets/banner.jpg" alt="" /></span>
						
					</section>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row 200%">
							<div class="12u">


							</div>
						</div>
						<div class="row 50%">
							<div class="12u">

						<!-- About -->
								<section>
									<h2 class="major"><span>Worum geht es?</span></h2>
									<p>
										This is <strong>TXT</strong>, yet another free responsive site template designed by
										<a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net">HTML5 UP</a>. It's released under the
										<a href="http://html5up.net/license/">Creative Commons Attribution</a> license so feel free to use it for
										whatever you're working on (personal or commercial), just be sure to give us credit for the design.
										That's basically it :)
									</p>
								</section>

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Menü</span></h2>
										<div>
											<div class="row">
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="https://emission-melissa0306.c9users.io/balances/profil" class="image featured"><img src="/assets/pic01.jpg" alt="" /></a>
															<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/profil">Profil</a></h3>
															<p>
																Wirf einen Blick auf dein Profil oder ändere deine Daten
															</p>
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="https://emission-melissa0306.c9users.io/balances/new" class="image featured"><img src="/assets/pic02.jpg" alt="" /></a>
															<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/karte">Karte</a></h3>
															<p>
																Lasse deine Emissionen berechnen! Ermittle bequem per Google Maps deine Strecke und trage deine Reisedaten ein.
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="https://emission-melissa0306.c9users.io/balances/status" class="image featured"><img src="/assets/pic03.jpg" alt="" /></a>
															<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/vergleich">Bilanz</a></h3>
															<p>
																Erhalte eine Übersicht über die Entwicklung deiner Emission im Zeitverlauf
															</p>
														</section>

												</div>
												<div class="3u 12u(mobile)">

													<!-- Feature -->
														<section class="box feature">
															<a href="https://emission-melissa0306.c9users.io/balances/analysis" class="image featured"><img src="/assets/pic04.jpg" alt="" /></a>
															<h3><a href="https://footprint-greenis-melissa0306.c9users.io/pages/infos">Auswertung</a></h3>
															<p>
																Verschaffe dir einen Überblick über deinen aktuellen Stand und erlange personalisierte Tipps
															</p>
														</section>

												</div>
											</div>
											<div class="row">
												<div class="12u">
													<ul class="actions">
														<li><a class="button big" <%= link_to "Werde Aktiv",  new_user_registration_path %></a></li>
													</ul>
												</div>
											</div>
										</div>
									</section>

							</div>
						</div>
						<div class="row 200%">
							<div class="12u">
	

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>