<!-- Emissionsrechner -->

<head>
    <title>Karte</title>
    <% content_for :title, "Emission eintragen" %>
</head>

<body>
  	<div class="container">
  		
  	<!-- Formular -->	
  		<div style="float:right; width:40%"> 
  		<h1>Emission eintragen</h1>
        	<%= render 'form' %>
        	<%=link_to "Cancel", root_path %>
    	</div>
    
	<!-- Kartenfunktion -->
		
		<div style="float:left; width:50%"> 
		<h1>Strecke berechnen </h1>
		<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
		<html xmlns="http://www.w3.org/1999/xhtml">

		
		    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB5W_6riR6Y5CvnJV30QeatPugzrTd3zSs&sensor=false&libraries=places"></script>
		    <script type="text/javascript">
		    
		 
		        var source, destination;
		        var directionsDisplay;
		        var directionsService = new google.maps.DirectionsService();
		        google.maps.event.addDomListener(window, 'load', function () {
		            new google.maps.places.SearchBox(document.getElementById('txtSource'));
		            new google.maps.places.SearchBox(document.getElementById('txtDestination'));
		            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
		        });
				/* Aktion bei Klick auf Button "Auto" */
		        function Auto() {
		        	/* Öffnen der Karte bei Göttingen */
		            var goett = new google.maps.LatLng(51.5412, 9.9158);
		            var mapOptions = {
		                zoom: 14,
		                center: goett
		            };
		            /* Funktion um Marker zu bewegen */
		            map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
		            directionsDisplay.setMap(map);
		            directionsDisplay.setPanel(document.getElementById('dvPanel'));
		
		            /* Start und Zieleingabefunktion */
		            source = document.getElementById("txtSource").value;
		            destination = document.getElementById("txtDestination").value;
		
		            /* Überleitung des Reisemodus DRIVING */
		            var request = {
		                origin: source,
		                destination: destination,
		                travelMode: google.maps.TravelMode.DRIVING
		            };
		            directionsService.route(request, function (response, status) {
		                if (status == google.maps.DirectionsStatus.OK) {
		                    directionsDisplay.setDirections(response);
		                }
		            });
		
		            /*Distanz und Fahrtdauer*/
		            var service = new google.maps.DistanceMatrixService();
		            service.getDistanceMatrix({
		                origins: [source],
		                destinations: [destination],
		                travelMode: google.maps.TravelMode.DRIVING,
		                unitSystem: google.maps.UnitSystem.METRIC,
		                avoidHighways: false,
		                avoidTolls: false
		                
		            }, function (response, status) {
		                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
		                    var distance = response.rows[0].elements[0].distance.text;
		                    var duration = response.rows[0].elements[0].duration.text;
		                    var dvDistance = document.getElementById("dvDistance");
		                   dvDistance.innerHTML = "";
		                   dvDistance.innerHTML += "Strecke: " + distance + "<br />";
		              
					   
		                } else {
		                    alert("Unable to find the distance via road.");
		                }
		            });
		        }
		        
		        
		     /* Aktion bei Klick auf Button "ZuFuß" */
		        function ZuFuß() {
		            /* Öffnen der Karte bei Göttingen */
		            var goett = new google.maps.LatLng(51.5412, 9.9158);
		            var mapOptions = {
		                zoom: 14,
		                center: goett
		            };
		            /* Funktion um Marker zu bewegen */
		            map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
		            directionsDisplay.setMap(map);
		            directionsDisplay.setPanel(document.getElementById('dvPanel'));
		
		            /* Start und Zieleingabefunktion */
		            source = document.getElementById("txtSource").value;
		            destination = document.getElementById("txtDestination").value;
		
		            /* Überleitung des Reisemodus WALKING */
		            var request = {
		                origin: source,
		                destination: destination,
		                travelMode: google.maps.TravelMode.WALKING
		            };
		            directionsService.route(request, function (response, status) {
		                if (status == google.maps.DirectionsStatus.OK) {
		                    directionsDisplay.setDirections(response);
		                }
		            });
		
		            /*Distanz und Fahrtdauer*/
		            var service = new google.maps.DistanceMatrixService();
		            service.getDistanceMatrix({
		                origins: [source],
		                destinations: [destination],
		                travelMode: google.maps.TravelMode.WALKING,
		                unitSystem: google.maps.UnitSystem.METRIC,
		                avoidHighways: false,
		                avoidTolls: false
		            }, function (response, status) {
		                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
		                    var distance = response.rows[0].elements[0].distance.text;
		                    var duration = response.rows[0].elements[0].duration.text;
		                    var dvDistance = document.getElementById("dvDistance");
		                   dvDistance.innerHTML = "";
		                   dvDistance.innerHTML += "Strecke: " + distance + "<br />";
		               //     dvDistance.innerHTML += "Duration: " + duration;
					   
		                } else {
		                    alert("Unable to find the distance via road.");
		                }
		            });
		        }
		        
		        /* Aktion bei Klick auf Button "Bus/Bahn" */
		        function MitBus() {
		        	/* Öffnen der Karte bei Göttingen */
		            var goett = new google.maps.LatLng(51.5412, 9.9158);
		            var mapOptions = {
		                zoom: 14,
		                center: goett
		            };
		            /* Funktion um Marker zu bewegen */
		            map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
		            directionsDisplay.setMap(map);
		            directionsDisplay.setPanel(document.getElementById('dvPanel'));
		
		            /* Start und Zieleingabefunktion */
		            source = document.getElementById("txtSource").value;
		            destination = document.getElementById("txtDestination").value;
		
		            /* Überleitung des Reisemodus TRANSIT */
		            var request = {
		                origin: source,
		                destination: destination,
		                travelMode: google.maps.TravelMode.TRANSIT
		            };
		            directionsService.route(request, function (response, status) {
		                if (status == google.maps.DirectionsStatus.OK) {
		                    directionsDisplay.setDirections(response);
		                }
		            });
		
		            /*Distanz und Fahrtdauer*/
		            var service = new google.maps.DistanceMatrixService();
		            service.getDistanceMatrix({
		                origins: [source],
		                destinations: [destination],
		                travelMode: google.maps.TravelMode.TRANSIT,
		                unitSystem: google.maps.UnitSystem.METRIC,
		                avoidHighways: false,
		                avoidTolls: false
		                
		            /* Ausgabe Streckenlänge */    
		            }, function (response, status) {
		                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
		                    var distance = response.rows[0].elements[0].distance.text;
		                    var duration = response.rows[0].elements[0].duration.text;
		                    var dvDistance = document.getElementById("dvDistance");
		                   dvDistance.innerHTML = "";
		                   dvDistance.innerHTML += "Strecke: " + distance;
		               //     dvDistance.innerHTML += "Duration: " + duration;
					   
		                } else {
		                    alert("Unable to find the distance via road.");
		                }
		            });
		        }
		        
    		</script>
		    <table border="0" cellpadding="0" cellspacing="3">
		        <tr>
		        	<!-- Eingabefelder für Start und Ziel und Buttons -->
		            <td colspan="2">
		                <p> <b> Start: </b>
		                <input type="text" id="txtSource" value="Hauptbahnhof, Göttingen, Deutschland" style="width: 300px" />
		                <br> &nbsp; <b> Ziel: </b>
		                <input type="text" id="txtDestination" value="Platz der Göttingern Sieben, Göttingen, Deutschland" style="width: 300px" />
		                </p>
		               
		                <input type="button" value="Auto" onclick="Auto()" />
		                <input type="button" value="Zu Fuß" onclick="ZuFuß()" />
		                <input type="button" value="Bus/Bahn" onclick="MitBus()" />
		                
		            </td>
		        </tr>
		        <tr>
		        	<!-- km Anzeige über Karte -->
		            <td colspan="2">
		                <div id="dvDistance">
		                </div>
		            </td>
		        </tr>
		        <tr>
		            <td>
		            	<!-- Größe der Map und der Weganweisungen -->
		                <div id="dvMap" style="width: 600px; height: 400px">
		                </div>
		                 <div id="dvPanel" style="width: 700px; height: 700px">
		                </div>
		            </td>
		           
		        </tr>
		    </table>
    	<br />
    </div>
    </div>
</body>
</html>